@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Prompt", sans-serif;
  background-color: #111111;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.lock-screen {
  overflow: hidden;
}

.slick-slide {
  text-align: center;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}
.slick-dots li button:before {
  color: white !important;

  opacity: 1 !important;
}

.slick-track {
  display: flex !important;
  align-items: center !important;
  padding: 2em 0;
}
.slick-current {
  transform: scale(1.05);
  transition-duration: 0.25s;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, max-content));
  grid-gap: 20px;
  width: 100%;
  height: 100%;
}

.article p,
h1,
h2,
h3,
h4,
h5,
h6,
pre {
  color: white;
}

.article img {
  width: 100%;
}
